<footer>
	<ul>
		<li class="footer__item"><a href="https://twitter.com/mxstbr" onclick="OWATracker.trackAction('social', 'click', 'twitter');">twitter</a></li>
		<li class="footer__item"><a href="https://github.com/mxstbr" onclick="OWATracker.trackAction('social', 'click', 'github');">github</a></li>
		<li class="footer__item"><a href="mailto:contact@mxstbr.com" onclick="OWATracker.trackAction('social', 'click', 'mail');">mail</a></li>
		<li class="footer__item"><a href="/feed.atom" onclick="OWATracker.trackAction('social', 'click', 'rss');">rss</a></li>
	</ul>
</footer>

<script type="text/javascript" src="{{ site.baseurl }}/scripts/main.js"></script>
<!-- Start Open Web Analytics Tracker -->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104674293-1', 'auto');
  ga('send', 'pageview');
  </script>
